<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initialscale=1">
    <title>Backtester - Juno</title>
    <meta charset="utf-8">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('HOME') }}</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('dashboard.display_index') }}">Dash board</a></li>
            <li><a href="{{ url_for('dashboard.display_index') }}">History</a></li>
            <li><a href="{{ url_for('dashboard.display_index') }}">Setting</a></li>
            <li><a href="{{ url_for('dashboard.display_index') }}">Study</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.has_role('admin') %}
              <li><a class="navbar-brand" href="{{ url_for('dashboard.display_index') }}">{{ _('Admin') }}</a></li>
            {% endif %}

            {% if not user.is_authenticated %}
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> {{ _('Log In') }}</a></li>
              <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> {{ _('Register') }}</a></li>
            {% else %}
              <li><a>Hello. {{ user.email }}</a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> {{ _('Log Out') }}</a></li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul><br/>
      {% endif %}
    {% endwith %}
    {% block container %}{% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
